In [10]:
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service as ChromeService
import time 
from datetime import datetime

In [11]:
service = ChromeService(executable_path=r"C:\Users\Luke\Downloads\chromedriver.exe")
driver = webdriver.Chrome(service=service)

In [12]:
website = "https://www.espn.com/nba/scoreboard/_/date/20220320"
driver.get(website)

In [13]:
teams = ['Bucks','Cavaliers','Raptors','Hawks','Celtics','Bulls','Wizards','76ers','Heat','Knicks','Pacers','Hornets','Nets','Pistons','Magic','Suns',
         'Trail Blazers','Jazz','Grizzlies','Spurs','Nuggets','Pelicans','Mavericks','Timberwolves','Thunder','Clippers','Warriors','Lakers','Kings','Rockets']

In [14]:
date = []
team = []
q1 = []
q2 = []
q3 = []
q4 = []

In [ ]:
count = 1

while count <= 175:
    try:
        time.sleep(2)
        tester = driver.find_element(by=By.XPATH, value='//*[@id="fittPageContainer"]/div[3]/div/div/div[1]/div').text
        testerlist = tester.split('\n')
        for i in range(len(testerlist)):
            if teams.count(testerlist[i])==1:
                date.append(testerlist[0])
                team.append(testerlist[i])
                q1.append(testerlist[i+2])
                q2.append(testerlist[i+3])
                q3.append(testerlist[i+4])
                q4.append(testerlist[i+5])
    
        testerclick = driver.find_element(by=By.XPATH, value='//*[@id="fittPageContainer"]/div[3]/div/div/div[1]/section/div/section/div/div/div/div/div/div[2]/div/div[position()=5]')
        testerclick.click()
        count += 1 
    except:
        driver.refresh()
        time.sleep(15)
        testerclick = driver.find_element(by=By.XPATH, value='//*[@id="fittPageContainer"]/div[3]/div/div/div[1]/section/div/section/div/div/div/div/div/div[2]/div/div[position()=5]')
        testerclick.click()
        continue

In [16]:
df1 = pd.DataFrame({'Date': date, 'Team': team, 'Quarter 1': q1, "Quarter 2": q2, "Quarter 3": q3, "Quarter 4": q4})

In [18]:
df1.to_csv('NBA_2021.csv', index=False)

In [17]:
df1

,Date,Team,Quarter 1,Quarter 2,Quarter 3,Quarter 4
0,"Sunday, March 20, 2022",Trail Blazers,22,26,34,16
1,"Sunday, March 20, 2022",Pacers,35,34,25,35
2,"Sunday, March 20, 2022",Grizzlies,30,26,28,38
3,"Sunday, March 20, 2022",Rockets,21,23,27,27
4,"Sunday, March 20, 2022",Pelicans,35,25,31,26
...,...,...,...,...,...,...
335,"Sunday, April 10, 2022",Pelicans,26,22,28,31
336,"Sunday, April 10, 2022",Kings,33,34,19,30
337,"Sunday, April 10, 2022",Suns,24,27,26,32
338,"Sunday, April 10, 2022",Jazz,16,36,26,33
339,"Sunday, April 10, 2022",Trail Blazers,19,21,16,24